---
interface Props {
  href: string;
  title: string;
  classColors?: string;
}

const {
  href,
  title,
  classColors = 'bg-[#F9FAFB] text-slate-800 hover:bg-white dark:bg-[#171C23] dark:text-slate-50 dark:hover:bg-[#1E242B]',
} = Astro.props;
---

<a
  href={href}
  class="group relative h-9 flex-shrink-0 rounded-full bg-gradient-to-b from-slate-100 to-slate-200 dark:from-[#393C45] dark:to-[#1A1D24] p-px shadow shadow-black/5 focus:outline-none focus:ring-1 focus:ring-white/20"
  target="_blank"
  title={title}
  aria-label={title}
  aria-labelledby="link"
>
  <div
    class="flex h-full items-center justify-center space-x-2 rounded-full  font-bold pl-4 pr-2.5"
    class:list={classColors}
  >
    <span class="dark:drop-shadow">{title}</span>
    <div class="group-hover:animate-sway animate-iteration-count-[2!important]">
      <slot name="icon" />
    </div>
  </div>
</a>
