---
import { Picture } from "astro:assets";
import AwesomeBgPicture from "@components/shared/AwesomeBgPicture.astro";
import FurgoImage from "@assets/img/furgo-bolt.webp";
import VartaImage from "@assets/img/batteries/varta_bateria.webp";
import BoschImage from "@assets/img/batteries/bosch_bateria.webp";
import TudorImage from "@assets/img/batteries/tudor_bateria.webp";

import { about } from "src/data/data.json";
const { title, description } = about;
---

<div class="overflow-x-hidden">
  <section
    class="relative mx-auto w-full max-w-screen-xl px-6 sm:px-8 lg:px-12 group pt-24 lg:pt-48 grid grid-cols-1 gap-y-24 md:grid-cols-2"
  >
    <div class="md:pr-4 md:pb-8">
      <h2
        class="text-black dark:text-white font-display font-extrabold leading-tight text-2xl lg:text-3xl dark:drop-shadow-md undefined flex flex-col text-pretty"
        set:html={title}
      />
      <p
        class="paragraph leading-relaxed text-slate-600 dark:text-slate-300 text-base mt-7 max-w-lg text-pretty"
        set:html={description}
      />
    </div>
    <AwesomeBgPicture>
      <Picture
        slot="picture"
        src={VartaImage}
        formats={["avif", "webp"]}
        alt="Batería Varta"
        class="battery-image hidden relative w-full aspect-video object-contain [animation-delay:200ms]"
        loading="eager"
      />
      <Picture
        slot="picture"
        src={TudorImage}
        formats={["avif", "webp"]}
        alt="Batería Tudor"
        class="battery-image hidden relative w-full aspect-video object-contain [animation-delay:200ms]"
        loading="eager"
      />
      <Picture
        slot="picture"
        src={BoschImage}
        formats={["avif", "webp"]}
        alt="Batería Bosch"
        class="battery-image hidden relative w-full aspect-video object-contain [animation-delay:200ms]"
        loading="eager"
      />
    </AwesomeBgPicture>
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", initializeSlider, { passive: true });

  const slides = document.querySelectorAll(".battery-image");
  let slideIndex = 0;
  let intervalId = null;

  function initializeSlider() {
    if (slides.length > 0) {
      showSlide(slideIndex);
      intervalId = setInterval(nextSlide, 3000);
    }
  }

  function showSlide(index) {
    if (index >= slides.length) {
      slideIndex = 0;
    } else if (index < 0) {
      slideIndex = slides.length - 1;
    }
    slides.forEach((slide) => {
      slide.classList.add("hidden");
    });
    slides[slideIndex].classList.remove("hidden");
    slides[slideIndex].classList.add("animate-fade-in-right");
  }

  function nextSlide() {
    slideIndex++;
    showSlide(slideIndex);
  }
</script>
