---
import { Image } from "astro:assets"

import TudorBrand from "@assets/img/brands/Tudor.png"
import VartaBrand from "@assets/img/brands/Varta.svg"
import BoschBrand from "@assets/img/brands/bosch.webp"
import VoltaBrand from "@assets/img/brands/Volta.webp"
import TabBrand from "@assets/img/brands/Tab.webp"
import ExideBrand from "@assets/img/brands/Exide.webp"
import FulmenBrand from "@assets/img/brands/Fulmen.webp"
import YuasaBrand from "@assets/img/brands/YuasaLogo.png"
---

<section class="relative mx-auto w-full max-w-screen-xl px-6 sm:px-8 lg:px-12  pb-12 lg:pb-16 -mt-4">
    <div class="relative overflow-x-hidden lg:-mx-16 mask-gradient-awesome">
        <div>
            <div class="flex animate-scroll py-4">
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={TudorBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={VartaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={BoschBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={VoltaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={TabBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={ExideBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={FulmenBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={YuasaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={TudorBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={VartaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={BoschBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={VoltaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={TabBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={ExideBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={FulmenBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
                <div class="shrink-0 relative h-8 w-64 scale-[0.8]">
                    <Image src={YuasaBrand} alt="prueba" class="object-center object-contain" height={51}>
                </div>
            </div>
        </div>
        <!-- <div class="absolute h-full w-32 top-0 left-0 bg-gradient-to-r from-white dark:from-[#0E1117]"></div>
        <div class="absolute h-full w-32 top-0 right-0 bg-gradient-to-l from-white dark:from-[#0E1117]"></div> -->
    </div>
</section>